.DS_Store
Screenshots/_YFD_2025-08-14 2.gif

# Image file types
*.png
*.jpg
*.jpeg
*.gif
*.zip
LAB_NOTES.md
LAB_NOTES.md.txt
docx_pwa/Chapter_1.docx
docx_pwa/Chapter_2.docx
docx_pwa/Chapter_3.docx
docx_pwa/Chapter_4.docx
docx_pwa/Chapter_5.docx
docx_pwa/Chapter_6.docx
docx_pwa/Chapter_7.docx
docx_pwa/Chapter_8.docx
docx_pwa/Chapter_9.docx
docx_pwa/Chapter_10.docx
docx_pwa/Chapter_11.docx
docx_pwa/Chapter_12.docx
docx_pwa/Chapter_13.docx
docx_pwa/Chapter_14.docx
docx_pwa/Chapter_15.docx
docx_pwa/Chapter_16.docx
docx_pwa/Chapter_17.docx
docx_pwa/Chapter_18.docx
docx_pwa/Chapter_19.docx
docx_pwa/Chapter_20.docx
lab_6_markdown_conversion_project.code-workspace
